extends layout 

block content
    h1= title
    h3 Mine oplysninger
    .containerMinside
        form(id="updateForm", action="/minside", method="post")
            label(for="email") Email:
            input(type="text", name="email", value=user.email, required, readonly)
            label(for="name") Navn:
            input(type="text", name="name", value=user.name, required)
            label(for="address") Adresse:
            input(type="text", name="address", value=user.address, required)
            label(for="phone") Telefon:
            input(type="text", name="phone", value=user.phone, required)
            br
            br
            input(type="submit", value="Gem oplysninger", id="updateDetailsBtn")
        h3 Mine pakker
        button Sendte pakker
        button Modtagne pakker
        button Alle pakker

    .admin
        table
            thead
                tr
                th Afsender Navn
                th Afsender Adresse
                th Afsender Telefon
                th Afsender Email
                th Modtager Name
                th Modtager Adresse
                th Modtager Telefon
                th Modtager Email
                th Pakke Vægt (kg)
                th Pakke Højde (cm)
                th Tracking Nummer
            tbody
                each package in packages
                    tr
                        td= package.sName
                        td= package.sAddress
                        td= package.sPhone
                        td= package.sEmail
                        td= package.rName
                        td= package.rAddress
                        td= package.rPhone
                        td= package.rEmail
                        td= package.weight
                        td= package.size
                        td
                            input(type="text" value=package.hashID readonly style="display: none;")
                            button(type="button" onclick="copyText(this)") Kopier  
    script.
        function copyText(button) {
            const copyText = button.previousElementSibling;
            navigator.clipboard.writeText(copyText.value)
            .then(() => {
                button.innerHTML = 'Kopieret!';
            })
            .catch(err => {
                console.error('Error copying text: ', err);
            });
        }     

    script(src="https://code.jquery.com/jquery-3.6.0.min.js")
    script.
        $(document).ready(function() {
            $('#updateForm').submit(function(event) {
                event.preventDefault(); // Prevent the default form submission
                $.ajax({
                    url: '/minside', // Replace with your actual POST route
                    method: 'POST',
                    data: $('#updateForm').serialize(), // Serialize the form data
                    success: function(response) {
                        alert('Opdateret'); // Display a popup message on success
                    },
                    error: function(xhr, status, error) {
                        console.error(error); // Log errors
                        // Handle error cases if needed
                    }
                });
                return false; // Ensure the form doesn't submit normally
            });
        });
