extends layout 

block content
    h1= title
    
    h3 Mine oplysninger

    form(action="/statistic" method="post")
        label(for="email") Email:
        input(type="text" name="email" value= user.email required)
        label(for="name") Navn:
        input(type="text" name="name" value= user.name required)
        label(for="address") Addresse:
        input(type="text" name="address" value= user.address required)
        label(for="phone") Telefon:
        input(type="text" name="phone" value= user.phone required)
        br
        br
        input(type="submit" value="Gem oplysninger")

    h3 Mine pakker
    button Sendte pakker
    button Modtagne pakker
    button Alle pakker
    table
        tr
            th Pakke ID
            th Afsender's Navn
            th Afsender's Addresse 
            th Afsender's Email 
            th Afsender's Telefon 
            th Modtager's Navn
            th Modtager's Addresse
            th Modtager's Email
            th Modtager's Telefon
            th Dato for oprettelse
            th Status 
            th Sidst opdateret 
            th Størrelse 
            th Vægt
            each package in packages
                tr
                td= package.ID
                td= package.sName
                td= package.sAddress 
                td= package.sEmail
                td= package.sPhone
                td= package.rName
                td= package.rAddress
                td= package.rEmail
                td= package.rPhone
                td= package.createdAt 
                td= package.status
                td= package.updatedAt
                td= package.size
                td= package.weight
